<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>When do they come?</title>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/ractive/0.8.7/ractive.js'></script>

    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>

</head>
<body>

<h1>When do they come?</h1>

<div id="container"></div>

<script id='template' type='text/ractive'>
<div id="info">
    <p><button on-click="findMe">Show my location</button></p>

    <div id="position">
        {{position.status}}
        lat: {{position.lat}}, lon: {{position.lon}}

        {{#if position.lat && position.lon}}
            <img src="https://maps.googleapis.com/maps/api/staticmap?center={{position.lat}},{{position.lon}}&zoom=13&size=300x300&sensor=false" />
        {{/if}}
    </div>

    <div id="stops">
        <button on-click="findStop">Find my stop</button>
        <ul>
            {{#each stops.list}}
                <li on-click="stopSelected:{{this.id}}">{{this.name}} ({{this.distance}}m)</li>
            {{/each}}
        </ul>
    </div>

    <div id="arrivals">
        <ul>
            {{#each arrivals.list}}
                <li>A vehicle on {{this.lineName}} towards {{this.towards}} arrives in {{this.arrivesIn}} seconds</li>
            {{/each}}
        </ul>
    </div>
</div>
</script>




<script>
    var ractive = new Ractive({
        el: '#container',
        template: '#template',
        data: {
            position: {
                status: "",
                lat: 0,
                lon: 0
            },
            stops: {
                list: [],
                selected: null
            },
            arrivals: {
                list: []
            }
        }
    });

    var findMeSuccess = function(position) {
        ractive.set("position.lat", position.coords.latitude)
        ractive.set("position.lon", position.coords.longitude)
    };

    var findMeFailure = function(error) {
        ractive.set("position.status", "Unable to retrieve your location: " + error.code + " - " + error.message)
    };

    ractive.on('findMe', function() {
        if (navigator.geolocation){
            ractive.set("position.status", "Locating...")
            navigator.geolocation.getCurrentPosition(findMeSuccess, findMeFailure);
        } else {
            ractive.set("position.status", "Geolocation is not supported by your browser")
        }
    });

    var findStopSuccess = function(data, status) {
        ractive.set("stops.list", data)
    };

    ractive.on('findStop', function(event) {
        $.ajax("/api/v1/stops/", {
            data: {
                lat: event.ractive.get("position.lat"),
                lon: event.ractive.get("position.lon")
            },
            success: findStopSuccess
        })
    });

    var findArrivesSuccess = function(data, status) {
        ractive.set("arrivals.list", data)
    };

    ractive.on('stopSelected', function(event, stopId) {
        ractive.set("stops.selected", stopId)

        $.ajax("/api/v1/stops/" + stopId + "/", {
            success: findArrivesSuccess
        })
    });

</script>

</body>
</html>
