<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>When do they come?</title>

    <script src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>

    <script src="/static/geolocation.js"></script>
    <script src="/static/map.js"></script>

    <style>
        html { height: 100% }
        body { height: 100%; margin: 0px; padding: 0px }
        #googlemap {
            height: 100%;
            width: 100%;
        }

        .markerContent {
        }
    </style>

</head>
<body>
<div id="googlemap"></div>

<!--<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>-->


<script type="text/javascript">
    function init() {
        var map = Map($('#googlemap')[0], getStops, getVehicles)
    }

    function getStops(position, callback) {
        $.ajax("/api/v1/stops/", {
            data: {
                lat: position.lat(),
                lon: position.lng()
            },
            success: function (data, status) {
                // TODO error handling
                callback(data)
            }
        })
    }
    function getVehicles(stopId, callback) {
        $.ajax("/api/v1/stops/" + stopId + "/", {
            success: function(data, status) {
                // TODO error handling
                callback(data)
            }
        })
    }

//    map = new Map();



</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{.GoogleAPIKey}}&callback=init"></script>

</body>
</html>
